<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="myget-newbe36524" value="https://www.myget.org/F/newbe36524/api/v3/index.json" />
        <add key="sleet-newbe36524" value="https://newbe36524nuget.blob.core.windows.net/feed/index.json" />
    </packageSources>
</configuration>