<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/newbe36524/index.json" />
        <add key="huaweiyun" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="newbe36524" />
            <add key="ClearTextPassword" value="58d7dfb7aebd7a9472b941c1bfc287a0271a0076" />
        </github>
    </packageSourceCredentials>
</configuration>