<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="newbe-proxy" value="http://172.26.80.1:58081/repository/nuget.org-proxy/index.json" />
        <add key="sleet-newbe36524" value="https://newbe36524nuget.blob.core.windows.net/feed/index.json" />
    </packageSources>
    <disabledPackageSources>
        <add key="nuget.org" value="true" />
    </disabledPackageSources>
</configuration>